body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

     /* Page */
.page {
    overflow: hidden;
}

    /* Container */
.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

    /* Intro */
.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    min-height: 820px;
    background: url("../images/intro.jpg") center no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    color: #fff;
}

.intro__title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto 50px;
    background-color: #fff;
}

.intro__subtitle {
    margin-bottom: 20px;
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    font-weight: 400;
    color: #fff;
}

    /* Header */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    padding-top: 30px;
}

.header.fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
    background-color: #eb8b8d;
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
    transform: translate3D(0,0,0);
}

.header.active {
    background-color: #eb8b8d;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

    /* Navigation */
.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    transition: color .1s linear;
}

.nav__link::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    opacity: 0;
    transition: opacity .1s linear;
}

.nav__link:hover::after,
.nav__link.active::after{
    opacity: 1;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link.active {
    color: #fce38a;
}

    /* Nav toggle*/
.nav-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
    width: 30px;
    padding: 10px 0;
    display: none;
    background: none;
    font-size: 0;
    color: transparent;
    border: 0;
    cursor: pointer;
}

.nav-toggle:focus {
    outline: 0;
}

.nav-toggle__item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: background .2s ease-in-out;
}

.nav-toggle__item::before,
.nav-toggle__item::after {
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: transform .2s ease-in-out;
}

.nav-toggle__item::before {
    top: -8px;
}

.nav-toggle__item::after {
    bottom: -8px;
}

.nav-toggle.active 
.nav-toggle__item {
    background: none;
}

.nav-toggle.active
.nav-toggle__item::before {
    transform-origin: left top;
    transform: rotate(45deg) translate3D(2px,-5px,0);
}

.nav-toggle.active
.nav-toggle__item::after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3D(2px,5px,0);
}

    /* Button */
.btn {
    display: inline-block;
    padding: 8px 30px;
    vertical-align: top;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    border: 3px solid #fff;
    transition: all .1s ease-in-out;
} 

.btn:hover {
    background: #fff;
    color: #555;
}
    /* Slider */
.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    position: relative;
    width: 23%;
    padding: 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    border-top: 2px solid #fff;
    opacity: .7;
}

.slider__item.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: -2px;
    z-index: 1;
    display: block;
    width: 25%;
    height: 2px;
    background-color: #f38181;
}

.slider__item.active {
    opacity: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

    /* Section */
.section {
    padding: 80px 0;
}        

.section--gray {
    padding: 70px 0 65px;
    background-color: #f8f8f8;
}

.section--devices {
    padding-bottom: 0;
    margin-bottom: 40px;
    background: url("../images/devices/devices_bg.jpg")
    center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--clients {
    background: #f5f5f5
    url("../images/clients_bg.jpg")
    center no-repeat; 
    background-size: cover;
}  

.section--map {
    padding: 30px 0 50px;
    background: #e6e6e6
    url("../images/map_bg.jpg")
    center no-repeat;
    background-size: cover;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 60px;
    text-align: center;
}

.section__header--about {
    margin-bottom: 80px;
}

.section__header--clients {
    margin-bottom: 70px;
}

.section__subtitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 50px;
    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;
}

    /* Card */
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px -15px 0;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
}

.card__inner {
    position: relative;
    background-color: #95e1d3;
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__inner:hover .card__img {
    transform: translate(-10px, -10px);
}

.card__inner:hover .card__text{
    opacity: 1;
}

.card__img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s ease-in-out;
}

.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s ease-in-out;
}

.card__text {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    opacity: 0;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s ease-in-out;
}

.card__info {
   margin-top: 20px;
   text-align: center;
}

.card__name {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
}

.card__prof {
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

    /* Statistics */
.statistics {
    background-color: #95e1d3;
}

.stat {
    display: flex;
    flex-wrap: wrap;
}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;
    text-align: center;
    color: #fff;
    border-left: 1px solid #b5eae0; 
}

.stat__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stat__count {
    display: block;
    margin-bottom: 10px;
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
 }

 .stat__text {
    font-size: 14px;
    text-transform: uppercase;
 }

    /* Services */

.services {
    display: flex;
    flex-wrap: wrap;
}

.services__item {
    position: relative;
    width: 33.33333%;
    margin-bottom: 40px;
    padding: 0 35px 40px 85px;
}

.services__item--border {
    border-bottom: 1px solid#e5e5e5;
}

.services__icon {
    position: absolute;
    left: 28px;
    top: 0;
    z-index: 2;
}

.services__title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
}

.services__text {
    font-size: 15px;
    color: #999;
}

    /* Devices */
.devices {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}        

.devices__item {
    display: block;
    max-width: 100%;
    height: auto;
}

.devices__item--iphone {
    position: absolute;
    right: 0;            ;
    bottom: -80px;
    z-index: 1;
}

    /* Wedo */
.wedo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.wedo__item {
    width: 50%;
    padding: 0 15px;
}

.wedo__img {
    display: block;
    max-width: 100%;
    height: auto;
}

    /* Accordion */
.accordion__item {
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
}   

.accordion__item.active 
.accordion__content {
    display: block;
}

.accordion__item.active 
.accordion__header::after {
    transform: translateY(-30%) rotate(-45deg);
}

.accordion__item.active
.accordion__header {
    border-bottom-color: #e5e5e5;
} 

.accordion__header {
    position: relative; 
    padding: 15px 20px 15px 65px;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.accordion__header::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 2;
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-right: 2px solid #ccc;
    transform: translateY(-70%) rotate(135deg);
}

.accordion__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    z-index: 2;
    transform: translateY(-50%);
}

.accordion__title {
    font-weight: 400;
}

.accordion__content {
    display: none;
    height: 196px;
    padding: 15px;
    overflow-y: scroll;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

p {
    margin: 0;
}

.accordion__content::-webkit-scrollbar-track
{
	background-color: #f5f5f5;
	border-radius: 2.5px;
}

.accordion__content::-webkit-scrollbar
{
	width: 5px;
	background-color: #f5f5f5;
}

.accordion__content::-webkit-scrollbar-thumb
{
	background-color: #95e1d3;
	border-radius: 2.5px;
}

    /* Reviews */
.reviews {
   position: relative;
}  

.reviews .slick-slider {
    padding: 0 110px;
}

.reviews__item {
    position: relative; 
    min-height: 210px;
    padding-left: 255px;
}

.reviews__photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index:1;
    width: 210px;
    height: 210px;
    border-radius: 50%;
}

.reviews__text {
    margin-bottom: 15px; 
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

.reviews__author {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 300;
    color: #333;
}

.reviews__author::before {
    content: "";
    z-index: 2;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px; 
    background-color: #f38181;                  ;
}

.slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 1;
    display: block;
    background: none;
    font-size: 0;
    color: transparent;
    border: 0;
    cursor: pointer;
    transform: translateY(-50%);
}

.slick-arrow:focus {
    outline: 0;
}

.slick-arrow::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.slick-prev {
    left: 0;
    transform: rotate(-45deg);
}

.slick-next {
    right: 0;
    transform: rotate(135deg);
}

    /* Ourteam */
.ourteam {
    display: flex;
    justify-content: space-between;
}

.ourteam__item {
    width: 380px;
}

.ourteam__img {
    background-color: #95e1d3;
}

.ourteam__img:hover
.ourteam__gradient img {
    opacity: .1;
}

.ourteam__img:hover
.ourteam__gradient {
    transform: translate3d(-10px, -10px, 0);
}

.ourteam__gradient {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform .2s ease-in-out;
}

.ourteam__gradient img {
    display: block;
    transition: opacity .2s ease-in-out;
}

.ourteam__name {
    padding: 30px 0 15px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;
}

.ourteam__position {
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #a6a6a6;
}

    /* Social */
.social {
    display: flex;
    justify-content: center;
}

.social__item {
    width: 55px;
    height: 55px;
    padding: 12px 10px;
    background-color: #fce38a;
    font-size: 30px;
    text-decoration: none;
    line-height: 1;
    color: #f38181;
    border-right: 1px solid #f38181;   
    transition: background-color .2s ease-in-out,
    color .2s ease-in-out;
}     

.social__item:last-child {
    border-right: 0;
}

.social__item:hover {
    background-color: #f38181;
    color: #fff;
}

    /* Logos */
 .logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -15px;
 }       

 .logos__item {
    padding: 0 15px;
 }

 .logos__img {
    display: block;
    max-width: 100%;
    height: auto;
 }

    /* Works */
.works {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.works__col {
    flex: 1 1 0;
}

.works__item {
    position: relative;
    background: linear-gradient(to bottom, #f38181, #fce38a);
}

.works__item:hover .works__img{
    opacity: .1;
}

.works__item:hover .works__info{
    opacity: 1;
}

.works__img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .2s ease-in-out; 
}

.works__info {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 0 15px;
    text-align: center;
    color: #fff;
    opacity: 0;
    transform: translate3D(0,-50%,0);
    transition: opacity .2s ease-in-out; 
}


.works__icon,
.far.fa-image {
    display: block;
    margin: 0 auto 15px;
    font-size: 35px;
}

.works__title {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.works__text {
   font-size: 15px;
   font-weight: 300;
   font-style: italic; 
}

    /* Clients */
.clients {
    display: flex;
    flex-wrap: wrap;
}

.clients__item {
    position: relative;
    width: 50%;
    margin-bottom: 60px;
    padding: 0 45px 0 175px;
}
      
.clients__photo {
    position: absolute;
    left: 40px;
    top: 0;
    z-index: 1;
    width: 110px;
    height: 110px;
    border-radius: 50%; 
}

.clients__name {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333;
}

.clients__prof {
    font-size: 15px;
    font-weight: 300; 
    font-style: italic;
    color: #333;
}

.clients__text {
    position: relative;
    font-size: 15px;
    color: #999;
}

.clients__text::before {
    content: "";
    display: block;
    margin: 15px 0 20px 0;
    width: 60px;
    height: 3px;
    background-color: #f38181;
}

    /* Blog */
.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}       

.blog__item {
   width: 31%;  
}

.blog__header {
    position: relative;
    margin-bottom: 15px;
}

.blog__photo {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__date {
    position: absolute;
    bottom: 10px;
    left: -10px;
    z-index: 1;
    padding: 10px 20px;
    background-color: #95e1d3;
    text-align: center;
    font-size: 15px;
    line-height: 1;
    font-weight: 300;
    font-style: italic;
    color: #fff;
}

.blog__date-day {
    display: block;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
}

.blog__content {
    margin-bottom: 14px;
}

.blog__title {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
}

.blog__title a {
    text-decoration: none;
    color: inherit;
}

.blog__title a:hover {
    text-decoration: underline;
}

.blog__text {
    font-size: 15px;
    color: #999;
}

.blog__footer {
    padding-top: 14px;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;
    border-top: 1px solid #e5e5e5;
}

.blog-stat-item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}

.blog-stat-item i {
    color: #95e1d3;
}

    /* Map */
.map {
    text-align: center;
}  

.map__title {
   font-size: 24px;
   font-weight: 700; 
   text-transform: uppercase;
   color: #f38181;
}

.map__title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 20px auto 0;
    background-color: #f38181;
}

.map__title a {
    text-decoration: none;
    color: inherit;
}

.map__title a:hover {
    text-decoration: underline;
}

    /* Footer */
.footer {
    padding-top: 65px;
    background-color: #f8f8f8;
} 

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
    padding-bottom: 65px;
}

.footer__col {
    padding: 0 15px;
}

.footer__col--first {
    width: 40%;
}

.footer__col--second {
    width: 29%;
}

.footer__col--third {
    width: 22.5%;
}

.footer__logo {
   margin-bottom: 30px;
   font-size: 46px;
   font-weight: 700; 
   color: #ccc;
}

.footer__text {
    margin-bottom: 30px;
    font-size: 15px;
    color: #999;
}

.footer__social {
    margin-bottom: 25px;
}

.footer__social--header {
    padding-bottom: 15px;
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.footer__social--header b {
    font-size: 18px;
}

.footer__social--content {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 300;
    font-style: italic;
    color: #999;

}

.footer__social--content a {
    display: inline-block;
    margin-left: 10px;;
    vertical-align: middle;
    font-size: 18px;
    color: #95e1d3;
}

.footer__title {
    margin: 30px 0;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; 
    color: #333;
}

    /* Subscribe */
.subscribe {
    display: flex;
    width: 100%;
    max-width: 380px;
}

.subscribe__input {
    width: 60%;
    height: 40px;
    padding: 12px;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.1;  
    font-weight: 300;
    font-style: italic; 
    color: #333; 
    border: 1px solid #e7e7e7;
    border-right: 0; 
}

.subscribe__input::placeholder {
    color: #ccc;
}

.subscribe__input:focus {
    border-color: #95e1d3;
    outline: 0; 
 }

.subscribe__btn {
    width: 40%;
    height: 40px;
    padding: 12px 30px;
    background-color: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.subscribe__btn:hover {
    background-color: #74c7b8;
}

.subscribe__btn:focus {
    outline: 0; 
}

    /* Blogs */
.blogs__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.blogs__img {
    width: 120px;
    height: 80px;
}
.blogs__content {
    padding-left: 20px;
}

.blogs__title {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}

.blogs__title:hover {
    text-decoration: underline;
}

.blogs__date {
    font-size: 13px;
    font-weight: 300;
    font-style: italic;
    color: #999;
}

    /* Instagram */
.instagram {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instagram__item {
    width: 33%;
    border-bottom: 1px solid #f8f8f8;
}

.instagram__item img {
    display: block;
    max-width: 100%;
    height: auto;
}

.instagram__photos {
    display: block;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 300;
    font-style: italic; 
    text-decoration: none;
    color: #333;
}

.instagram__photos:hover {
    text-decoration: underline;
}

    /* Copyright */
.copyright {
    padding: 25px 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-top: 1px solid #e5e5e5;
}   

.copyright span {
    color: #f38181;
}

@media (max-width: 1230px) {
    /* Intro */
    .intro__subtitle {
        font-size: 52px;
    }

    .intro__title {
        font-size: 120px;
    }

    /* Reviews */
    .reviews__text {
        font-size: 20px;
    }

}


@media (max-width: 990px) {
    /* Intro */
    .intro__subtitle {
        font-size: 32px;
    }

    .intro__title {
        font-size: 80px;
    }

    /* Statistics */
    .stat {
        justify-content: center;
    }

    .stat__item {
        flex: none;
        width: 33.33333%;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 0;
    }

    .stat__item:last-child {
        border-right: 0;
    }

    /* Services */
    .services__item {
        width: 50%;
        padding-bottom: 0;
    }

    .services__item--border {
        border-bottom: 0;
    } 

     /* Reviews */
     .reviews .slick-slider {
        padding: 0 60px;
     }
     .reviews__item {
        padding-left: 175px;
     }

    .reviews__photo {
       width: 150px; 
       height: 150px;
    }

    /* Clients */
    .clients {
        max-width: 600px;
        margin: 0 auto; 
    }

    .clients__item {
        width: 100%;
        padding-right: 0;
    }

    .clients__item:last-child {
        margin-bottom: 0;
    }

    /* Footer */
    .footer__col--first {
        width: 100%;
    }

    .footer__col--second,
    .footer__col--third {
        width: 50%;
    }

    /* Instagram */
    .instagram {
        justify-content: flex-start;
    }

    .instagram__item {
        width: auto;
        border-right: 1px solid #f8f8f8;
    }

}

@media (max-width: 770px) {
    /* Intro */
    .intro {
        min-height: 650px;
    }

    /* Header */
    .header {
        padding: 10px 0;
    }

    /* Navigaton */
    .nav {
        position: absolute;
        top: 100%;
        right: 0;
        width: 0%;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;
        background-color: #E98585;
        transition: all .1s ease-in-out;
    }

    .nav.active {
        width: 100%;
        visibility: visible;
        opacity: 1;
        transition: all .2s ease-out;
    }

    .nav__link {
        margin: 0;
        padding: 8px 20px;
        display: block;
    }
    

    /* Nav toggle*/
    .nav-toggle {
        display: block;
    }
    
    /* Slider */
    .slider__text {
        display: none;
    }
    .slider__item.active::before {
        width: 50%;
    }

    /* Section */
    .section {
        padding: 70px 0;
    }

    .section--devices {
        padding-bottom: 0;
    }

    .section--map {
        padding: 30px 0 50px;
    }

    /* Card */
    .card {
        margin-top: 50px;
        justify-content: center; 
    }

    .card__item {
       width: 100%;
       max-width: 410px;
       margin-bottom: 30px;
    }

    .card__item:last-child {
        margin-bottom: 0;
    }

    /* Services */
    .services {
        justify-content: center;
    }

    .services__item {
        width: 100%;
        max-width: 400px; 
        padding-left: 55px;
        padding-right: 0;
    }
    
    .services__icon {
        left: 0;
    }

    /* WeDo */
    .wedo__item {
        width: 100%;
    }

    .wedo__img {
        display: none;
    }

    /* Reviews */
    .reviews__item {
        padding-left: 0;
    }

   .reviews__photo {
        position: static;
        margin: 0 auto 20px;
        display: block;
   }

   .reviews__text {
       font-size: 16px;
   }

   .reviews__author {
       font-size: 20px;
   }

    /* Works */
    .works__col {
        flex: none;
        width: 50%;
    }

     /* Blog */
    .blog {
        max-width: 380px;
        margin: 0 auto;
     }
    .blog__item {
        width: 100%;
        margin-bottom: 30px;
    }

    .blog__item:last-child {
        margin-bottom: 0;
    }

    /* Footer */
    .footer__col--second,
    .footer__col--third {
        width: 100%;
    }
}

@media (max-width: 575px) {
    /* Intro */
    .intro__subtitle {
        font-size: 22px;
    }

    .intro__title {
        font-size: 40px;
    }

    /* Section */
    .section {
        padding: 70px 0 40px;
    }

    .section__header {
        margin-bottom: 30px;
    }

    .section__subtitle {
        font-size: 20px;
    }

    .section__title {
        font-size: 24px;
    }

    .section__title::after  {
        margin: 20px auto;
    }

    .section--map {
        padding: 20px 0 40px;
    }

    .section--devices {
        margin-bottom: 0;
    }

     /* Statistics */
     .stat__item {
        width: 100%;
        border-bottom: 1px solid#b5eae0;
    }

    .stat__item:last-child {
        border-bottom: 0; 
    }

    .stat__count {
        font-size: 52px; 
    }

    /* Devices */
    .devices {
        max-width: 320px;
    }

    .devices__item--iphone {
        right: -80px;
        bottom: -50px;
        width: 180px;
    }

    /* Reviews */
    .reviews .slick-slider{
        padding: 0;
    }

    .slick-arrow {
        top: 18%;
    }

     /* Logos */
    .logos {
        flex-wrap: wrap;
    }

    .logos__item {
        width: 50%;
        margin-bottom: 20px;
    }

    .logos__img {
        margin: 0 auto;
    }

    /* Works */
    /* .works {
        justify-content: center;
    } */
    
    /* .works__col {
        width: 100%;
    } */

    /* Clients */
    .clients__item {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
     }

    .clients__photo {
        position: static;
     }
     
    .clients__text::before {
        margin: 15px auto;
    }

    /* Subscribe */
    .subscribe {
        flex-wrap: wrap;
        max-width: none;
    }

    .subscribe__input,
    .subscribe__btn {
        width: 100%;
    }

    .subscribe__input {
        margin-bottom: 10px;
        border-right: 1px solid #e7e7e7;
    }
    
    /* Blogs */
    .blogs__img {
        width: 80px;
        height: 50px;
    }
    .blogs__title {
        font-size: 10px;
    }
}

@media (max-width: 420px) {
     /* Works */
    .works__col {
        width: 100%;
    }

    /* Footer */
    .footer__social--content span {
        display: block;
    }

    .footer__social--content a:nth-child(2) {
        margin-left: 0;
    }
}